html {
  text-align: right;
  max-width: 296px;
}
body {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  display: inline-block;
  min-height: 260px;
  min-width: 240px;
  max-width: 240px;
  margin: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-family: 'Segoe UI', 'PT Sans', 'Helvetica Neue', 'FreeSans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #43435e;
  text-align: center;
  background: #ffffff;
  cursor: default;
  padding: 0px 10px 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.popup-header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  z-index: 13;
  display: block;
  width: 100%;
  height: 105px;
  line-height: 55px;
  padding: 5px 0;
  border-bottom: 1px solid #c5c5d0;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
  /* vertical-align: middle; */
  color: #c5c5d0;
  background: #ffffff;
}
.popup-header-logo {
  position: relative;
  display: inline-block;
  height: 31px;
  margin-top: -4px;
  vertical-align: middle;
  outline: none;
}
.popup-global-error {
  border-top: 0;
  border-bottom: 0;
}
.popup-container {
  display: block;
  padding: 0;
  border: 0 solid #e8e8ec;
}
.popup-content {
  position: relative;
  z-index: 12;
  margin: 0;
  /* min-height: 335px; */
  padding: 0;
  border-top: 0;
  border-bottom-width: 0;
  transition: min-height 1s, height 1s;
}
.popup-footer-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 84px;
}
.popup-header-logo-img {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: transparent 0 0 no-repeat;
  background-image: url('./icon.png');
  background-size: cover;
  cursor: pointer;
  vertical-align: top;
  -webkit-transition: -webkit-transform 200ms ease-in;
  -moz-transition: -moz-transform 200ms ease-in;
  -ms-transition: -ms-transform 200ms ease-in;
  -o-transition: -o-transform 200ms ease-in;
  transition: transform 200ms ease-in;
  -webkit-transition: -webkit-transform 200ms ease-in, '';
  -moz-transition: -moz-transform 200ms ease-in, '';
  -ms-transition: -ms-transform 200ms ease-in, '';
  -o-transition: -o-transform 200ms ease-in, '';
  transition: transform 200ms ease-in, '';
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.popup-footer {
  margin-top: 10px;
  position: relative;
  display: block;
  height: 80px;
  padding: 4px 0 0;
  line-height: normal;
  border-top: 1px solid #dcdcdc;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  white-space: nowrap;
}
#toggle {
  opacity: 0;
}

#label {
  display: inline-block;
  background: #2c3e50;
  width: 2em;
  height: 1em;
  border-radius: 0.5em;
  position: relative;
  cursor: pointer;
  background: #2c3e50;
}

#switch {
  position: absolute;
  width: 0.9em;
  height: 0.9em;
  margin-top: 0.05em;
  margin-left: 0.05em;
  border-radius: 1em;
  background: #c0392b;
  box-shadow: 5px 0px 28px -9px rgba(0, 0, 0, 0.75);
  transition: transform .2s ease-in;
}

#toggle:checked ~ #label #switch {
  background: #2ecc71;
  transform: translatex(1em);
  transition: transform .2s ease-in;
}

/* Unimportant styles */
